.contactus{
    width: 1170px;
    height: 662px;
    margin: 0 auto;
    margin-top: 50px;
}
.contactus_main_text{
width: 1170px;
height: 150px;
margin: 0 auto;
text-align: center;
line-height: 130px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 36px;
}
.contactus_line{
    width: 170px;
    margin: 0 auto;
    border: 1px solid #EC7979;
}
.contactus_subtitle{
width: 1170px;
margin: 0 auto;
margin-top: 40px;
font-size: 18px;
line-height: 21px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
text-align: center;

color: #86878B;
}
.contactus_form_left{
    display: inline-block;
    margin-top: 10px;
    width: 48%;
    height: 200px;
}
#name{
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;;
    background-color: #F5F5F5;
    margin-top: 89px;
    padding: 10px;
}
#email{
    width: 100%;
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;;
    background-color: #F5F5F5;
    margin-top: 85px;
    padding: 10px;
}
#password{
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;;
    background-color: #F5F5F5;
    margin-top: 85px;
    padding: 10px;
}
.contactus_form_right{
    margin-left: 590px;
    width: 48%;
    height: 200px;
    margin-top: -302px;
}
#message{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #BDBDBD;;
    background-color: #F5F5F5;
    margin-top: 33px;
    padding: 10px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
}
form{
    margin-top: 20px;
}

.contactus_form_button{
    width: 370px;
    height: 58px;
    background: #EC7979;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
}
.contactus_form_button_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0 auto;
    background-color: #EC7979;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}