
.customers{
width: 1170px;
margin: 0 auto;
margin-top: 180px;
margin-bottom: 60px;
}
@media (max-width:1200px) {
    .customers{
        width: 100%;
    }
}
.customers__main-block{
    width: 100%;
}
.customers__line{
width: 142px;
height: 0px;
border: 1px solid #EC7979;
margin-inline: 510px;
margin: auto;
}
.customers__section-block{
width: 370px;
height: 336px;  
display: inline-block;
border-radius: 10px;
text-align: center;
}
@media (max-width:400px) {
    .customers__section-block{
        width: 100%;
    }
}
.customers__main-text{
height: 120px;
/* width: 100%; */
font-family: Raleway;
font-size: 36px;
font-weight: 400;
line-height: 42.26px;
text-align: center;
}
@media (max-width:1200px) {
    .customers__main-text{
        font-size: 24px;
        line-height: 28px;
    }
}

.customers__section-block__text{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
background-color:  #E2E2E2;
color: #86878B;
width: 370px;
height: 180px;
border-radius: 10px;
}
@media (max-width:1200px) {
    .customers__section-block__text{
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width:400px) {
    .customers__section-block__text{
        width: 100%;
    }
}
.customers__subtitle{
height: 16px;
width: 100%;
font-family: Raleway;
font-style: normal;
font-size: 18px;
font-weight: 400;
line-height: 21.13px;
letter-spacing: 0em;
text-align: center;
color: #86878B;
margin-top: 32px;
}
@media (max-width:1200px) {
    .customers__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
}
.customers__section{
justify-content: space-between;
display: flex;
margin-top: 83px;
}
@media (max-width:1150px) {
    .customers__section{
        display: grid;
        justify-content: center;
    }
}

.customers__section-block__polygon{
display:flex;
width: 35px;
height: 25px;
left: 10px;
background: #E2E2E2;
transform: rotate(135deg);
margin-left: 65px;
margin-top: -36px;
}
.customers__section-block__ellipse{
margin-top: 66px;
display: inline-block;
margin-left: -270px;
}
@media (max-width:366px) {
    .customers__section-block__ellipse{
        margin-right: -60px
    }
}
.customers__section-block__name{
display: flex;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 33px;
color: #000000;
margin-top: -70px;
margin-left: 115px;
}
@media (max-width:1200px) {
    .customers__section-block__name{
        font-size: 18px;
        line-height: 25px;
    }
}
.customers__section-block__job{
display: flex;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
margin-top: -20px;
margin-left: 115px;
}
@media (max-width:1200px) {
    .customers__section-block__job{
        font-size: 18px;
        line-height: 25px;
    }
}
