.footer{
    background-color: black;
    height: 190px;
    display: flex;
    margin-top: 100px;
}
.footer_main{
width: 650px;
justify-content: space-between;
margin: 0 auto;
margin-top: 41px;
}
@media (max-width:900px) {
    .footer_main{
        display: none;
    }
}
.footer_main_icons{
    margin-left: 50px;
    margin-top: 10px;
}
@media (max-width:700px) {
    .footer_main_icons{
        margin-right: 20px;
    }
}
@media (max-width:430px) {
    .footer_main_icons{
        margin-left: 23px;
    }
}
.footer_main_text{
    color: rgba(255, 255, 255, 0.5);
text-align: center;
margin-top: 32px;
}
.footer_main_small{
    display: none;
}
@media (max-width:900px) {
    .footer_main_small{
        display: block;
        width: 650px; 
        margin-right: 20px;
        margin: 0 auto;
        margin-top: 41px;
        text-align: center;
    }
}