.nav{
    margin: 0 auto;
width: 1170px;
height: 40px;
display: flex;
margin-top: 110px;
}
@media (max-width:1250px) {
    .nav{
        width: 992px; 
    }
}
@media (max-width:1050px) {
    .nav{
        width: 100%;
    }
}

.tabs-nav__tabs1{
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
width: 172px;
height: 40px;
left: 8px; 
border: 1px solid #C6CBCD;
border-radius: 5px 5px 0px 0px;
border-bottom: 0px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
}

.tabs-nav__tabs2{
display: flex;
justify-content: center;
align-items: center;
padding: 0px;
width: 156.01px;
height: 40px;
left: 180px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
border-bottom:1px solid #C6CBCD;
}

.tabs-nav__tabs3{
display: flex;
justify-content: center;
align-items: center;
padding: 0px;
width: 156.01px;
height: 40px;
left: 336px;  
font-family: 'Open Sans', sans-serif;
font-size: 14px;
border-bottom:1px solid #C6CBCD; 
}
.tabs-nav__tabs-empty{
display: flex;
padding: 0px;
width: 508.72px;
height: 40px;
left: 490px;
border-bottom:1px solid #C6CBCD; 
} 
@media (max-width:533px) {
    .tabs-nav__tabs-empty{
    display: none;
    }
}
.tabs-main{
    display: flex;
margin: 0 auto;
box-sizing: border-box;
width: 1170px;
height: 386px;
border: 1px solid #C6CBCD;
border-top: 0px;
}
@media (max-width:1250px) {
    .tabs-main{
        width: 992px;
        height: 386px;
    }
}
@media (max-width:1050px) {
    .tabs-main{
        width: 100%;
    }
}
@media (max-width:533px) {
    .tabs-main{
        height: 100%
    }
}
.tabs-main__left{
margin: 0 auto;
}
.tabs-main__right{
width: 580px;
display: inline-block;
}
@media (max-width:1050px) {
    .tabs-main__right{
        display: none;
    }
}
.tabs-main__left-text{
margin-left: 85px;
left: 100px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40.85px;
align-items: center;
color: #000000; 
}
@media (max-width:1250px) {
    .tabs-main__left-text{
        font-size: 24px;
        line-height: 33px;
    }
}
@media (max-width:1050px) {
    .tabs-main__left-text{
        margin-left: 30px;   
        text-align: center;
        margin-right: 30px;
    }
}
.tabs-main__left-description{
display: inline-block;
margin-left: 85px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21.13px;
color: #000000;
}
@media (max-width:1250px) {
    .tabs-main__left-description{
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width:1050px) {
    .tabs-main__left-description{
        margin-left: 30px;
        text-align: center;
        margin-right: 30px;
    }
}
.tabs-main__left-button{
display: inline-block;
margin-top: -17px;
margin-left: 85px;
height: 58px;
width: 231px;
left: 100px;
background: #EC7979;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 55px;
text-align: center;
color: #FFFFFF;
}
@media (max-width:1050px) {
    .tabs-main__left-button{
        width: 80%;
        margin-top: 50px;

    }
}
@media (max-width:700px) {
    .tabs-main__left-button{
        width: 70%;
        margin-top: 50px;

    }
}
@media (max-width:533px) {
    .tabs-main__left-button{
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media (max-width:1250px) {
    .tabs-main__left-description{
        margin-top: 38px;
    }
}
.tabs-main__right-image{
height: 385px;
border-radius: 0px;
}
